html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	/* overflow: hidden;
	overflow-y: hidden; */
	overflow-x: hidden;
}

ul{
	list-style-type: none;
}

/*button相关~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
button {
	cursor: pointer;
}

.refresh{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: hsl(0, 0%, 100%);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.search{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: hsl(207.74496073987493, 50%, 90%);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.call_post_page{
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	padding: 0 20px;
	border: 1px solid #018dc4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	color: rgb(0, 0, 0);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: hsl(345.2527247899127, 50%, 90%);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.call_collection{
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	padding: 0 20px;
	border: 1px solid #018dc4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	color: rgb(0, 0, 0);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: hsl(122.76048883995051, 50%, 90%);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.call_todolist{
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	padding: 0 20px;
	border: 1px solid #018dc4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	color: rgb(0, 0, 0);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: hsl(70.23719668983716, 50%, 90%);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.call_account{
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	padding: 0 20px;
	border: 1px solid #018dc4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	color: rgb(0, 0, 0);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: hsl(240.20614048968602, 50%, 90%);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
/~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
	display: block;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #ffffff;
	overflow-x: hidden;
	/* max-width: 800px; */
	background-image: none;
	background-size: cover;
	background-repeat: no-repeat;
}
/*搜索栏~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.search_room{
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0 20px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(252,252,252,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}


.search_room:hover {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0 20px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(252,252,252,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
	width: 300px;
  }
.search_room:focus{
	
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0 20px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(252,252,252,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    width: 300px;
}
/*导航栏相关~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.navigator {
	display: block;
	position: fixed;
	background: #373737;
	width: 100%;
	top: 0%;
	left: 0%;
	right: 0%;
	margin: 0;
	z-index: 1;
}

/*登录界面~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.login_or_signup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#turn_to_login_or_signup {
	color: #2e62ff;
	text-decoration: underline;
	cursor: pointer;
}

/*主页树洞条目~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* #post_items {
	display: block;
	position: relative;
	margin: 0;
	background: #414141;
	width: 80%;
	height: auto;
	padding: 20px;
	margin: 20px;
	left: 10%;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 0;
} */

/* .item > div{
	height:80px;
	width: auto;
	margin: 8px;
	background-color: #76a886;
} */


/* 评论预览
.comment_element{
	display:flex;
	height: auto;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%!important;
    margin-left: 0;
    padding-left: 30px;


}
.comment_element > li{
	display: inline-flex;
	background:#0199d9;
	height: auto;
}

.comment_preview{
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    max-height: 15em;
    margin-right: -7px;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		width: 141px;
		padding: 8px;
		overflow: hidden;
		border: 5px solid;
		-webkit-border-radius: 17px;
		border-radius: 17px;
		font: normal 16px/1 "Times New Roman", Times, serif;
		color: rgba(255,255,255,1);
		text-align: center;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		background: #0199d9;
		-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
		box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;

}

.post_id{
	color: #666
}
.post_time{
	color: #666
} */




































/*左侧遮罩层*/
.mask {
	display: none;
	width: 50%;
	height: calc(100% - 44.33px);
	position: fixed;
	left: 0;
	top: 44.33px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

/*
 * 右侧边栏及各种内容~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/* .sidebar {
	display: none;
	width: 50%;
	height: calc(100% - 44.33px);
	position: fixed;
	right: 0;
	top: 44.33px;
	background-color: #000c40;
	z-index: 1;
	overflow-y: scroll;
}
::-webkit-scrollbar {
	display: none;
}
/*边栏的顶部标签*/
/* .sidebar_head {
	width: 100%;
	background-color: #b9fecf;
	height: 30px;
	text-align: center;
} */
/*侧边栏的子div*/
/* .sidebar_head {
	width: 100%;
	background-color: #b9fecf;
	height: 30px;
	text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    border: none;
    font: normal 20px/normal "Anton", Helvetica, sans-serif;
    color: rgb(112, 112, 112);
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    text-shadow:1px 1px 0 rgb(122, 232, 161) , 2px 2px 0 rgb(26, 98, 5) ;

}
/*关闭按钮*/
/* .close_sidebar {
	float: left;
} */
/*侧边栏的标题。如果侧边栏是树洞详情的话，放“刷新”“逆序”“收藏”三个按钮*/
#sidebar_title {
	display: none;
}
/* .sidebar_buttons {
	display: none;
} */

/*边栏-详情页~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* .sidebar #details {
	display: none;
} */
/*发言和评论条目所在的区域*/
#detailed_content {
	height: 400px;
	margin: 0;
	overflow: scroll;
	list-style-type: none;
	padding:2px 2px 2px 2px;
	overflow-x: hidden;
}
	/*发言和评论条目*/
/* .detailed_item{
	position: relative;
	background-color: #791d1d;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: auto;
}
.detailed_item > div{
	background-color: #9e2121;
}  */


/*输入*/
/* .sidebar_content #comment {
	height: 10%;
	width: calc(50% - 20px);
	position: fixed;
	bottom: 0;
} */
/*输入框*/
/* #comment_input {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 90%;
	height: calc(100% - 1px);
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 3px;	
	border-radius: 3px;
	font: normal medium/normal Arial, Helvetica, sans-serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  } */
  
  /* #comment_input:hover {
	position: absolute;
	height: calc(100% - 1px);
	width: 90%;
	resize: none;
	overflow: scroll;
	padding: 0 20px;
	border: 1px solid #a3a3a3;
	-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  #comment_input:focus {
	position: absolute;
	height: calc(100% - 1px);
	width: 90%;
	resize: none;
	overflow: scroll;
	padding: 10px 20px;
	border: 1px solid #018dc4;
	-webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  } */
/*提交按钮*/
/* #comment_submit {
	position: absolute;
	right: 1px;
	width: 8%;
	height: 100%;
} */

/*边栏-账户信息~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sidebar #account_info {
	display: none;
	text-align: center;
}
/*头像*/
#user_avatar {
	width: 80px;
	height: 80px;
}

.host_head_icon{
	width: 40px;
	height: 40px;
}
/*边栏-编辑树洞~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sidebar #edit_post {
	display: flex;
	/* display: none; */
	flex-direction: column;
	justify-content: center;
}
/*输入框~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* #post_input {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 95%;
	height: 27%;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 3px;	
	border-radius: 3px;
	font: normal medium/normal Arial, Helvetica, sans-serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  } */
  
  /* #post_input:hover {
	width: 90%;
	height: 80%;
	padding: 0 20px;
	border: 1px solid #a3a3a3;
	-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  } */
  
  /* #post_input:focus {
	width: 90%;
	height: 80%;
	padding: 10px 20px;
	border: 1px solid #018dc4;
	-webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  } */
/*提交按钮~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  /* #post_submit  {
	display: inline-block;
	margin: 0 auto;
	box-sizing: border-box;
	width: 8.875rem;
	height: 2.5rem;
	cursor: pointer;
	padding: 0.625rem 2.25rem;
	border: none;
	border-radius: 1.875rem;
	font: bold 0.9375rem/1.5 "Battambang", Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-overflow: clip;
	background: #e93a30;
	transition: background 0.2s var(--cubic-bezier);
  } */
  
   */

/*边栏-todolist~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#todolist {
	height: 250px;
	max-height: 250px;
	min-height: 250px;
	overflow: scroll;
	overflow-x: hidden;
	display: none;
}





.login_or_signup {
	background-color: #f1f1f1;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
  }
  
  .login_or_signup table {
	margin: auto;
	border-collapse: collapse;
	text-align: left;
  }
  
  .login_or_signup label {
	font-size: 16px;
	font-weight: bold;
	padding-right: 10px;
  }
  
  .login_or_signup input[type="text"],
  .login_or_signup input[type="password"] {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-size: 16px;
  }
  
  #login_or_signup_button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 10px;
	font-size: 16px;
  }
  
  #login_or_signup_button:hover {
	background-color: #3e8e41;
  }
  
  #turn_to_login_or_signup {
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
  }


  .navigator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(173, 216, 230, 0.8);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
  }
  
  .navigator div:first-child {
	font-size: 26px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	text-shadow: 1px 1px 1px #ccc;
  }
  
  button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	cursor: pointer;
	background: transparent;
	color: inherit;
	font: inherit;
	font-size: 16px;
	line-height: normal;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	text-shadow: 1px 1px 1px #ccc;
	transition: all 0.2s ease-in-out;
  }
  
  button.refresh {
	background: linear-gradient(#f7f7f7, #e5e5e5);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	padding: 6px 12px;
	border-radius: 5px;
	margin-right: 5px;
  }
  
  button.refresh:hover {
	transform: scale(1.05);
  }
  
  input.search_room {
	padding: 6px 12px;
	margin-right: 5px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	background-color: #f8f8f8;
	text-shadow: 1px 1px 1px #ccc;
  }
  
  button.search {
	background: linear-gradient(#f7f7f7, #e5e5e5);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	padding: 6px 12px;
	border-radius: 5px;
	margin-right: 5px;
  }
  
  button.search:hover {
	transform: scale(1.05);
  }
  
  button.call_post_page,
  button.call_collection,
  button.call_todolist,
  button.call_account {
	background: linear-gradient(#f7f7f7, #e5e5e5);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	padding: 6px 12px;
	border-radius: 5px;
  }
  
  button.call_post_page:hover,
  button.call_collection:hover,
  button.call_todolist:hover,
  button.call_account:hover {
	transform: translateY(-2px);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  #post_items {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
  }
  
  .item {
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 800px;
	background-color: rgba(255, 255, 255, 0.5);
  }
  
  .post_id {
	font-size: 24px;
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
	margin-right: 10px;
  }
  
  .is_favored {
	font-size: 14px;
	color: black;
	margin-left: 30px;
	margin-right: 10px;
  }
  
  .post_time {
	font-size: 14px;
	color: black;
	margin-left: 10px;
	margin-right: 10px;
  }
  
  .sub_content {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
  }
  
  .host_head_icon {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  .host_element {
	font-size: 16px;
	line-height: 1.5;
	display: block;
	max-width: 400px;
	min-width: 400px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
  }
  
  .comment_preview {
	font-size: 14px;
	color: #666;
	margin-right: 20px;
	line-height: 1.5;
	min-width: 180px;
	max-width: 180px;
	margin-bottom: 10px;
	min-height: 60px;
	max-height: 60px;
	padding: 10px;
	border-radius: 5px;
	background-color: #eee;
	word-break: break-all;
	white-space: normal;
	overflow: hidden;
  }
  
  .comment_element {
	left: 60%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	padding: 10px;
	border-radius: 5px;
  }
  
  .comment_element li:not(:last-child) {
	margin-right: 10px;
  }
  
  .comment_list {
	margin-top: 20px;
  }
  
  .comment_list:first-of-type {
	margin-top: 0;
  }
  

  .sidebar {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	right: 0%;
	width: 50%;
	background-color: #09909c;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	transition: right 0.3s ease-out; /* 添加过渡动画效果 */
	z-index: 100;
	overflow: hidden;
	overflow-x: hidden;
  }

  .sidebar_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 80px);
    position: relative; /* 父元素要设置 position: relative */
}
  
  /* 打开侧边栏时，让它从右侧滑入 */
  .sidebar.show {
	right: 0;
  }
  
  /* 侧边栏标题样式 */
  .sidebar_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #16879d;
  }
  
  /* 关闭按钮样式 */
  .close_sidebar {
	cursor: pointer;
  }
  
  /* 详情页样式 */
  .sidebar_content#details {
	overflow-y: scroll;
	height: calc(100% - 80px); /* 让详情页内容撑满除标题栏和底部固定栏以外的高度 */
  }


  .detailed_item {
	display: block;
	margin: 10px 5px;
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
  }
  
  /* 评论输入框样式 */
  #comment {
	margin: 10px;
  }
  
  #comment textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 10px;
	resize: none;
  }
  
  #comment_submit {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	transition: background-color 0.3s ease-out; /* 添加过渡动画效果 */
  }
  
  #comment_submit:hover {
	background-color: #3e8e41;
  }
  
 /* 个人信息页样式 */
.sidebar_content#account_info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly; /* 垂直方向均匀分布元素 */
	align-items: center; /* 水平方向居中元素 */
	overflow-y: scroll;
	height: calc(100% - 80px); /* 让个人信息页内容撑满除标题栏和底部固定栏以外的高度 */
  }
  
  /* 用户信息样式 */
  #user_info {
	display: flex;
	flex-direction: column;
	align-items: center; /* 水平方向居中元素 */
	margin-top: 20px;
  }
  
  #user_info div:first-child {
	margin-bottom: 20px;
  }
  
#change_password,
#confirm_password {
  width: 70%;
  margin: 0 auto;
}
  /* 修改头像、背景样式，将上传按钮隐藏 */
  
  /* 树洞编辑页样式 */
  .sidebar_content#edit_post textarea {
	width: 96%;
	height: calc(100% - 110px); /* 让编辑框撑满除标题栏、底部和按钮以外的高度 */
	margin: 10px;
	border: 1px solid #ccc;
	padding: 5px;
	resize: none;
  }
  
  #post_submit {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-left: 45%;
	cursor: pointer;
	transition: background-color 0.3s ease-out; /* 添加过渡动画效果 */
  }
  
  #post_submit:hover {
	background-color: #3e8e41;
  }
  
  /* todolist页面样式 */
  .sidebar_content#todo_page {
	overflow-y: scroll;
	height: calc(100% - 80px); /* 让todolist页面内容撑满除标题栏和底部固定栏以外的高度 */
  }
  #add_todo{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	position: absolute; /* 设置为绝对定位 */
    bottom: 0; /* 距离底部为 0 */
    margin: auto; /* 让其水平居中 */
	width: 100%;
  }

  #add_todo textarea {
	width: 80%;
	height: 100px;
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 10px;
	resize: none;
  }
  
  #todo_submit {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	transition: background-color 0.3s ease-out; /* 添加过渡动画效果 */
  }
  
  #todo_submit:hover {
	background-color: #3e8e41;
  }
  
  /* todolist条目样式 */
  .todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
	border-bottom: 1px solid #e6e6e6;
  }
  
  /* 将优先级存储在span标签中，但不显示 */
  .todo .priority {
	display: none;
  }
  
  /* 将todo条目的内容放在一个div中，并设置最大宽度和超出部分隐藏 */
  .todo .todo_content {
	max-width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  
  /* 完成按钮样式 */
  .todo_complete {
	background-color: #008CBA;
	color: white;
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease-out; /* 添加过渡动画效果 */
  }
  
  .todo_complete:hover {
	background-color: #006d9c;
  }
  
  /* 置顶按钮样式 */
  .todo_top {
	background-color: #f6bf26;
	color: white;
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease-out; /* 添加过渡动画效果 */
  }
  
  .todo_top:hover {
	background-color: #f5a623;
  }
  
/*应该隐藏的可复制组件*/
#hide_post{

}
#hide_item{

}
#hide_todo{

}
